* {
    font-family: Arial, Helvetica, sans-serif; 
}

.container_top {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    background-color: rgb(31, 31, 31);
}

.logo {
    width: 200px;
    margin-left: 100px;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    margin-top: 30px;
}

a {
    color: white;
    text-decoration: none;
}

.menu_decoration {
    text-decoration: underline;
    text-decoration-color: #C19D3E;
}

.container_body {
    width: 100%;
    height: 500px;
    display: flex;
    background-image: url(home_backgroung_img.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.body_img {
    width: 300px;
    height: 300px;
}